version: "3"

services:

  app:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - ".env"
    depends_on:
      - database
    ports:
      - "8000:80"

  database:
    image: "postgres:${POSTGRES_VERSION}"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 2s
      timeout: 1s
      retries: 5
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - "POSTGRES_HOST=${POSTGRES_HOST}"
      - "POSTGRES_PASSWORD=${POSTGRES_PASSWORD}"
      - "POSTGRES_USER=${POSTGRES_USER}"

volumes:
  postgres_data:
